# Copyright (c) 2026, James Elstone
# SPDX-License-Identifier: BSD-3-Clause
#
# This file is part of SMS Gateway:
# https://github.com/JamesElstone/sms-gateway
#
# See LICENSE for details.
/config/local.php
/config/tokens.json
/config/tokens.json.*.tmp
/data/*.sqlite3
/data/*.sqlite3-*
