{
  "_copyright": "Copyright (c) 2026, James Elstone",
  "_spdx_license_identifier": "BSD-3-Clause",
  "_source": "https://github.com/JamesElstone/sms-gateway",
  "tokens": [
    {
      "name": "internal-example",
      "enabled": true,
      "token_sha256": "replace-with-sha256-of-token",
      "allowed_ips": [
        "127.0.0.1",
        "::1",
        "192.168.0.0/16",
        "10.0.0.0/8"
      ]
    }
  ]
}
